<div class="">
  Type: <%= @billing.type_name %>
</div>
<div class="">
  Description: <%= @billing.description %>
</div>
<div class="">
  Date: <%= @billing.date %>
</div>
<div class="">
  Fix Or Variable: <%= @billing.fix_or_var %>
</div>
