<div class="container-fluid">
  <div class="d-flex justify-content-center login">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Type: <%= @billing.type_name %></li>
      <li class="list-group-item">Description: <%= @billing.description %></li>
      <li class="list-group-item">Date: <%= @billing.date %></li>
      <li class="list-group-item">Fix Or Variable: <%= @billing.fix_or_var %></li>
    </ul>
  </div>
</div>
