/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.login{
  margin-top: 20vh;
}

.border {
  width:auto;
  border-radius: 10px;
  padding: 5em;
  background-color: rgb(78, 153, 190);
}
.sign_up {
  margin-top: 1em;
}
.form-header{
  color: white;
  margin-bottom: 1em;
  text-align: center;
}
